body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Buttons */
.btn {
    margin: 0;
    padding: 0;
    cursor: pointer;
    border: none;
    background: none;
}

.btn:focus {
    outline: none;
}

.btn--search {
    font-size: 1em;
    float: right;
    display: inline-block;
}

.btn--hidden {
    pointer-events: none;
    opacity: 0;
}

/* Reset Search Input */
.search__input {
    border: 0;
    background: transparent;
    border-radius: 0;
    -webkit-appearance: none;
}

.search__input:focus {
    outline: none;
}

/* Links */
a,
.btn {
    text-decoration: none;
    color: #000;
    outline: none;
}

.hidden {
    position: absolute;
    overflow: hidden;
    width: 0;
    height: 0;
    pointer-events: none;
}

/* Icons */
.icon {
    display: block;
    width: 1.5em;
    height: 1.5em;
    margin: 0 auto;
    fill: currentColor;
}

/* Header */
.codrops-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    padding: 2.5em;
    text-align: left;
}

.search-wrap {
    margin: 0 0 0 auto;
}

/* Resposible Web Design (RWD) */
@media screen and (max-width: 40em) {
    
    .codrops-header {
        display: block;
        padding: 4em 1em 0;
        text-align: center;
    }
    
    .search-wrap {
        position: absolute;
        font-size: 0.85em;
        top: 2.15em;
        right: 2em;
    }
}



